.lead {
    max-width: 984px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        padding: 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        padding: 0;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 689px) {
    .lead {
        padding: 0;
        margin-bottom: 64px;
    }
}