.header {
    width: 92.5%;
    margin: 0 auto;
    padding: 28px 0 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .header {
        width: 90.625%;
        padding-bottom: 48px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 93.75%;
    }
}

@media screen and (max-width: 320px) {
    .header {
        width: 90%;
        padding-bottom: 48px;
        padding-top: 16px;
    }
}