.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    max-width: 720px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .lead__title {
        font-size: calc((100vw - 320px)/(768 - 320) * (96 - 40) + 40px);
        line-height: calc((100vw - 320px)/(768 - 320) * (100 - 44) + 44px);
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }
}