.place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
    padding: 0 0 26px 0;
    grid-row: -1 / -2;
    grid-column: 3 / 2;
}

.place__paragraph:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 687px) {
    .place__paragraph {
        grid-area: 4 / 1 / 5 / 1;
        margin-left: auto;
        margin-right: auto;
        padding: 0 16px 25px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        width: 90%;
    }
}