.place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    grid-row: -1 / -2;
    grid-column: 3 / 2;
}

.place__paragraph:last-child {
    grid-row: -1 / -2;
    grid-column: 3 / 2;
}