.footer__copyright {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
    flex-grow: 1;
}

@media screen and (max-width: 689px) {
    .footer__copyright {
        text-align: left;
        width: 92.5%;
        margin-top: 48px;
    }
}