.lead__image {
    max-width: 984px;
    max-height: 615px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        max-height: 580px;
        object-fit: cover;
        max-width: calc((100vw - 768px)/(1024 - 768) * (928 - 768) + 768px);
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        max-width: calc((100vw - 320px)/(768 - 320) * (768 - 320) + 320px);
        max-height: calc((100vw - 320px)/(768 - 320) * (480 - 200) + 200px);
    }
}