.place__website-link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: opacity .5s ease;
    word-wrap: break-word;
}

.place__website-link:hover {
    opacity: 0.8;
}