.intro {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 48px;
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: calc((100vw - 320px)/(768 - 320) * (768 - 320) + 320px);
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        padding: 0 16px;
    }
}