.lead__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    max-width: 640px;
    margin: 32px auto 64px;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        font-size: calc((100vw - 320px)/(768 - 320) * (30 - 16) + 16px);
        line-height: calc((100vw - 320px)/(768 - 320) * (36 - 20) + 20px);
        margin-top: calc((100vw - 320px)/(768 - 320) * (32 - 16) + 16px);
        margin-bottom: calc((100vw - 320px)/(768 - 320) * (56 - 40) + 40px);
        max-width: calc((100vw - 320px)/(768 - 320) * (640 - 280) + 280px);
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
}