.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    background: #2A2C2F;
    opacity: 0.8;
    position: relative;
}

.cover:hover {
    opacity: 0.3;
}