.footer__navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

@media screen and (max-width: 689px) {
    .footer__navigation {
        flex-direction: column;
    }
}

