@import url("../vendor/normalize.css");
@import url("../fonts/fonts.css");
@import url("../blocks/page/page.css");
@import url("../blocks/header/header.css");
@import url("../blocks/header/__lang-link/header__lang-link.css");
@import url("../blocks/header/__lang-link/_active/header__lang-link_active.css");
@import url("../blocks/lead/lead.css");
@import url("../blocks/lead/__image/lead__image.css");
@import url("../blocks/lead/__subtitle/lead__subtitle.css");
@import url("../blocks/lead/__title/lead__title.css");
@import url("../blocks/lead/__caption/lead__caption.css");
@import url("../blocks/intro/intro.css");
@import url("../blocks/intro/__title/intro__title.css");
@import url("../blocks/intro/__text/intro__text.css");
@import url("../blocks/intro/__list/intro__list.css");
@import url("../blocks/intro/__list-text/intro__list-text.css");
@import url("../blocks/intro/__list-heading/intro__list-heading.css");
@import url("../blocks/photo-grid/photo-grid.css");
@import url("../blocks/photo-grid/__item/photo-grid__item.css");
@import url("../blocks/photo-grid/__image/photo-grid__image.css");
@import url("../blocks/places/places.css");
@import url("../blocks/places/__image/place__image.css");
@import url("../blocks/places/__paragraph/place__paragraph.css");
@import url("../blocks/places/__place/places__place.css");
@import url("../blocks/places/__title/place__title.css");
@import url("../blocks/places/__website-link/place__website-link.css");
@import url("../blocks/places/__website-url-heading/place__website-url-heading.css");
@import url("../blocks/places/__website/place__website.css");
@import url("../blocks/places/__table/places__table.css");
@import url("../blocks/cover/cover.css");
@import url("../blocks/cover/__background/cover__background.css");
@import url("../blocks/cover/__subtitle/cover__subtitle.css");
@import url("../blocks/cover/__title/cover__title.css");
@import url("../blocks/cover/__placeholder/cover__placeholder.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");
@import url("../blocks/footer/__link/footer__link.css");