.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
    max-width: 560px;
    max-height: 152px;
    position: relative;
    z-index: 2;
}