.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
    max-width: 560px;
}

@media screen and (max-width: 768px) {
    .cover__title {
        font-size: calc((100vw - 320px)/(768 - 320) * (72 - 32) + 32px);
        line-height: calc((100vw - 320px)/(768 - 320) * (76 - 35) + 35px);
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
    }
}