.footer {
    max-width: 92.5%;
    margin: 0 auto;
    padding: 0 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 90.625%;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 93.75%;
    }
}

@media screen and (max-width: 689px) {
    .footer {
        flex-direction: column;
        justify-content:left;
        max-width: 90%;
    }
}