.place__website {
    grid-column: -1 / 2;
    grid-row: 1 / 2;
    align-self: flex-end;
}

@media screen and (max-width: 687px) {
    .place__website {
        grid-area: 2 / 1 / 3 / 1;
        margin: 0 16px 0;
    }
}

@media screen and (max-width: 320px) {
    .place__website {
        width: 90%;
    }
}