.intro__title {
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
 }

 @media screen and (max-width: 768px) {
    .intro__title {
        font-size: calc((100vw - 320px)/(768 - 320) * (54 - 32) + 32px);
        line-height: calc((100vw - 320px)/(768 - 320) * (58 - 35) + 35px);
        /* margin-top: calc((100vw - 320px)/(768 - 320) * (88 - 64) + 64px); */
    }
 }

 @media screen and (max-width: 320px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}